PORT=3001
FRONTEND_URL=http://localhost:5173

ADIAL_API_BASE_URL=https://gdp.api.prod.adial-services.com
ADIAL_GROUP_ID=REMPLACER_PAR_LE_GROUP_ID
ADIAL_TOKEN=REMPLACER_PAR_UN_BEARER_TOKEN
DATABASE_PATH=./data/bruno-pizza.sqlite
